<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="/insta.png" alt="logo" />
        <h1><u>Instagram</u></h1>
      </div>
      <hr />
      <% for(post of posts) { %>
      <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <img src="<%= post.image %>" />
        <h4 class="content"><%= post.content %></h4>
        <a href="http://localhost:8080/posts/<%= post.id %>">See in Details</a>
        <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit Post</a>
        <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
          <button>Delete Post</button>
        </form>
      </div>
      <hr />
      <% } %>
      <div class="new">
        <a href="http://localhost:8080/posts/new">Create New Post</a>
      </div>
    </div>
  </body>
</html>
